/* cores: #F701E7 */
body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.user-mensage {
    border: 1px solid;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin:10px 4px ;
}
.chat-container {
    background-color: #ffffff;
    position: relative;
    border-radius: 30px;
    height: 500px;
    width: 300px;  
    overflow: hidden;
    padding: 5px;
}
.action-mensage {
    position: absolute;
    bottom: 20px;
    left: 45px;
}
.time {
    border-bottom: 3px solid ;
    height: 20px;
    display: block;
    text-align: center;
}
#chat {
    padding: 4px;
    border-radius: 40px;
    border: 3px solid #F701E7;
    outline: none;
}
#button-chat {
    border: 3px solid #F701E7 ;
    background: #000;
    cursor: pointer;
    padding: 4px;
    margin-left: 5px;
}
.user-mensage {
    position: relative;

}
.espacamento {
    position: absolute;
    bottom: 20px !important;
    right: 5px;   
}
.mensage {
    background-color: #F701E7;
    padding: 5px;
    border-radius: 10px 10px 15px 10px;
    display: block;
    margin-bottom: 10px;
    
}
.inline{
    display: inline-block;
}

